Jake Thaker

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from collections import OrderedDict

# import csv
file = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [2]:
#confirm column names
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [3]:
#576??; sortSN and delete duplicates
playerdf = df.groupby('SN')['Purchase ID'].nunique()
playercount = playerdf.shape[0]
playercount
playerdf = OrderedDict([ ('Player Count', [playercount]) ] )
playerdf = pd.DataFrame.from_dict(playerdf)
playerdf

   Player Count
0           576

## Purchasing Analysis (Total)

In [4]:
#sort items, delete duplicates
itemdf = df.groupby('Item Name')['Purchase ID'].nunique()
itemcount = itemdf.shape[0]

In [5]:
#average price: average of all values in 'price'
purchasecount=df.shape[0]

In [6]:
purchasenum=df.shape[0]

In [7]:
totalrev = df['Price'].sum()
totalrev

#throw all into dataframe: purchaseanalysisdf

purchases = OrderedDict([ ('Number Unique Items', [itemcount]),
          ('Average Price', [purchasecount]),
          ('Number of Purchases',  [purchasenum]),
          ('Total Revenue', [totalrev]) ] )
df1 = pd.DataFrame.from_dict(purchases)
df1

#purchaseanalaysisdf: Number Unique Items//Average Price//Number of Purchases//Total revenue

   Number Unique Items  Average Price  Number of Purchases  Total Revenue
0                  179            780                  780        2379.77

## Gender Demographics

In [8]:
#percent each gender
percents = df['Gender'].value_counts(normalize=True)*100
percents=pd.DataFrame(percents)
percents['Gender']=percents['Gender'].map("{:,.2f}%".format)
percents['Gender']=pd.DataFrame(percents)
percents['Gender']
percentdf = pd.DataFrame(percents)

In [9]:
#count of players by gender
playcountdf=df.groupby(['Gender']).size()
playcountdf=pd.DataFrame(playcountdf)

In [10]:
#merge percent and count by gender
merged = pd.concat([percentdf, playcountdf], axis =1, sort=False)
merged
gendermerge=merged.rename(columns = {'Gender':'Percent', 0: 'Count'})
gendermerge

                      Percent  Count
Male                   83.59%    652
Female                 14.49%    113
Other / Non-Disclosed   1.92%     15


## Purchasing Analysis (Gender)

In [11]:
#purchase count
df["Gender"].unique()
gendercount= df["Gender"].value_counts()

In [12]:
#total purchase value
pricedf=pd.DataFrame(df)
gendertp = df.groupby('Gender')['Price'].sum()

In [13]:
#average purchase price
avgprice = gendertp/gendercount

In [14]:
#average total purchase per person
percents1 = df['Gender'].value_counts(normalize=True)
var = percents1 * 576
avgtotal = gendertp/var

In [15]:
s = {'Purchase Count': gendercount, 'Average Purchase Price': avgprice, 'Total Purchase Value': gendertp, 'Avg Total Purchase per Person': avgtotal}
summary = pd.DataFrame(data=s)
summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.337408
Male,652,3.017853,1967.64,4.086676
Other / Non-Disclosed,15,3.346000,50.19,4.531042

## Age Demographics

In [16]:
agedf = pd.DataFrame(df)

agedf.head()
bins = [0.0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999.0]

grouplabels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#agecount=pd.cut(agedf['Age'], bins, labels=grouplabels).head()
#agecount

agegroup = agedf.groupby(pd.cut(agedf['Age'], bins, labels=grouplabels))

In [17]:
agedemodf = pd.DataFrame({"Total Count": agegroup["Price"].count(), 
                          "Percentage of Players": agegroup["Price"].count()/576*100})
agedemodf

       Total Count  Percentage of Players
Age
<10             23               3.993056
10-14           28               4.861111
15-19          136              23.611111
20-24          365              63.368056
25-29          101              17.534722
30-34           73              12.673611
35-39           41               7.118056
40+             13               2.256944

## Purchasing Analysis (Age)

In [18]:
agegroupdf = pd.DataFrame({"Purchase Count": agegroup["Price"].count(), 
                           "Average Purchase Price": agegroup["Price"].mean(), 
                           "Total Purchase Value": agegroup["Price"].sum(), 
                           "Avg Total Purchase per Person": agegroup["Price"].sum()/agegroup["SN"].nunique()})
agegroupdf

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

In [19]:
#purchase count by sn
df["SN"].unique()
sncount= df["SN"].value_counts()
countssn = sncount.head()

In [33]:
#total purchase value
sntpv = df.groupby('SN')['Price'].sum()

In [34]:
#average price
snavgprice = sntpv/countssn

In [37]:
#top spender count
topspenders = pd.DataFrame({"Purchase Count": countssn, 
                           "Average Purchase Price": snavgprice, 
                           "Total Purchase Value": sntpv})
topspenddf= topspenders.sort_values(by ='Total Purchase Value', ascending=False)
topspenddf.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93               5.0                  3.7920                 18.96
Idastidru52             4.0                  3.8625                 15.45
Chamjask73              NaN                     NaN                 13.83
Iral74                  4.0                  3.4050                 13.62
Iskadarya95             NaN                     NaN                 13.10

## Most Popular Items

In [38]:
#purchase count
df["Item Name"].unique()
popcount= df["Item Name"].value_counts()
popitems = sncount.head()

In [39]:
#item price
popprice=df.drop(columns=["Purchase ID", "SN", "Age", "Gender"])

In [40]:
#total purchase value
pct = df.groupby('Item Name')['Price'].sum()

In [41]:
PopItems = pd.DataFrame({"Purchase Count": popitems,
                         "Total Purchase Value": pct})
popitemsdf= PopItems.sort_values(by ='Purchase Count', ascending=False)
popitemsdf.head()
finaldf = popitemsdf.join(popprice)
finaldf.head()

              Purchase Count  Total Purchase Value  Item ID Item Name  Price
Lisosia93                5.0                   NaN      NaN       NaN    NaN
Idastidru52              4.0                   NaN      NaN       NaN    NaN
Iral74                   4.0                   NaN      NaN       NaN    NaN
Saedaiphos46             3.0                   NaN      NaN       NaN    NaN
Sondastsda82             3.0                   NaN      NaN       NaN    NaN

## Most Profitable Items

In [27]:
#total purchase value
PopItems = pd.DataFrame({"Purchase Count": popitems,
                           "Total Purchase Value": pct})
popitemsdf= PopItems.sort_values(by ='Total Purchase Value', ascending=False)
finalII = popitemsdf.join(popprice)
finalII.head()

,Purchase Count,Total Purchase Value,Item ID,Item Name,Price
Final Critic,NaN,59.99,NaN,NaN,NaN
"Oathbreaker, Last Hope of the Breaking Storm",NaN,50.76,NaN,NaN,NaN
Nirvana,NaN,44.10,NaN,NaN,NaN
Fiery Glass Crusader,NaN,41.22,NaN,NaN,NaN
Singed Scalpel,NaN,34.80,NaN,NaN,NaN