Jake Thaker

In [308]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from collections import OrderedDict

# import csv
file = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [309]:
#confirm column names
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [310]:
#576??; sortSN and delete duplicates
playerdf = df.groupby('SN')['Purchase ID'].nunique()
playercount = playerdf.shape[0]
playercount
playerdf = OrderedDict([ ('Player Count', [playercount]) ] )
playerdf = pd.DataFrame.from_dict(playerdf)
playerdf

   Player Count
0           576

## Purchasing Analysis (Total)

In [311]:
#sort items, delete duplicates
itemdf = df.groupby('Item Name')['Purchase ID'].nunique()
itemcount = itemdf.shape[0]

In [312]:
#average price: average of all values in 'price'
purchasecount=df.shape[0]

In [313]:
purchasenum=df.shape[0]

In [314]:
totalrev = df['Price'].sum()
totalrev

#throw all into dataframe: purchaseanalysisdf

purchases = OrderedDict([ ('Number Unique Items', [itemcount]),
          ('Average Price', [purchasecount]),
          ('Number of Purchases',  [purchasenum]),
          ('Total Revenue', [totalrev]) ] )
df1 = pd.DataFrame.from_dict(purchases)
df1

#purchaseanalaysisdf: Number Unique Items//Average Price//Number of Purchases//Total revenue

   Number Unique Items  Average Price  Number of Purchases  Total Revenue
0                  179            780                  780        2379.77

## Gender Demographics

In [315]:
#percent each gender
percents = df['Gender'].value_counts(normalize=True)*100
percents=pd.DataFrame(percents)
percents['Gender']=percents['Gender'].map("{:,.2f}%".format)
percents['Gender']=pd.DataFrame(percents)
percents['Gender']
percentdf = pd.DataFrame(percents)

In [316]:
#count of players by gender
playcountdf=df.groupby(['Gender']).size()
playcountdf=pd.DataFrame(playcountdf)

In [317]:
#merge percent and count by gender
merged = pd.concat([percentdf, playcountdf], axis =1, sort=False)
merged
gendermerge=merged.rename(columns = {'Gender':'Percent', 0: 'Count'})
gendermerge

                      Percent  Count
Male                   83.59%    652
Female                 14.49%    113
Other / Non-Disclosed   1.92%     15


## Purchasing Analysis (Gender)

In [318]:
#purchase count
df["Gender"].unique()
gendercount= df["Gender"].value_counts()

In [319]:
#total purchase value
pricedf=pd.DataFrame(pricedf)
gendertp = df.groupby('Gender')['Price'].sum()

In [320]:
#average purchase price
avgprice = gendertp/gendercount

In [321]:
#average total purchase per person
percents1 = df['Gender'].value_counts(normalize=True)
var = percents1 * 576
avgtotal = gendertp/var

In [322]:
s = {'Purchase Count': gendercount, 'Average Purchase Price': avgprice, 'Total Purchase Value': gendertp, 'Avg Total Purchase per Person': avgtotal}
summary = pd.DataFrame(data=s)
summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,3.203009,361.94,4.337408
Male,652,3.017853,1967.64,4.086676
Other / Non-Disclosed,15,3.346000,50.19,4.531042

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [323]:
#agedf = pd.DataFrame(df)
#agedf.head()
#bins = [0.0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 999.0]
#grouplabels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


#agecount=pd.cut(agedf['Age'], bins, labels=grouplabels).head()
#agecount

In [324]:
#percentage of players
#percentplayers

In [325]:
#s1 = {'Total Count': agecount, 'Percentage of Players': percentplayers}
#summary = pd.DataFrame(data=s1)
#summary

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [326]:
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [339]:
#purchase count by sn
df["SN"].unique()
sncount= df["SN"].value_counts()
sncount.head()

Lisosia93       5
Iral74          4
Idastidru52     4
Zontibe81       3
Pheodaisun84    3
Name: SN, dtype: int64

In [344]:
#total purchase value
sntpv = df.groupby('SN')['Price'].mean()
sntpv

SN
Adairialis76       2.280000
Adastirin33        4.480000
Aeda94             4.910000
Aela59             4.320000
Aelaria33          1.790000
Aelastirin39       3.645000
Aelidru27          1.090000
Aelin32            2.993333
Aelly27            3.395000
Aellynun67         3.740000
Aellyria80         3.080000
Aelollo59          2.815000
Aenarap34          2.960000
Aeral43            4.400000
Aeral68            4.000000
Aeral97            4.800000
Aeralria27         4.090000
Aeralstical35      2.960000
Aeri84             1.610000
Aerillorin70       3.330000
Aerithllora36      4.320000
Aerithnucal56      4.400000
Aerithnuphos61     4.910000
Aerithriaphos45    1.560000
Aerithriaphos46    2.180000
Aesri53            1.760000
Aesty53            1.955000
Aestysu37          2.690000
Aesur96            2.210000
Aesurstilis64      1.030000
                     ...
Undosia27          3.770000
Undosian34         4.150000
Undotesta33        4.740000
Wailin72           2.730000
Yadacal26          3.270000
Yadaisuir65        4.090000
Yadam35            2.480000
Yadanu52           2.380000
Yadaphos40         2.675000
Yalae81            3.345000
Yalaeria91         1.060000
Yaliru88           3.030000
Yalo85             3.650000
Yalostiphos68      4.400000
Yana46             3.550000
Yarithllodeu72     3.750000
Yarithrgue83       3.450000
Yarithrin84        4.140000
Yarithsurgue62     4.940000
Yarolwen77         4.430000
Yasrisu92          3.440000
Yastyriaphos75     4.750000
Yasur35            4.480000
Yasur85            1.100000
Yathecal72         3.460000
Yathecal82         2.073333
Yathedeu43         3.010000
Yoishirrala98      4.580000
Zhisrisu83         3.945000
Zontibe81          2.676667
Name: Price, Length: 576, dtype: float64

In [341]:
#snavgprice
#avgprice = sncount/sntpv

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [345]:
#most popular items
df["Item Name"].unique()
sncount= df["Item Name"].value_counts()
sncount.head()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
Name: Item Name, dtype: int64

In [ ]:
#purchase count

In [ ]:
#item price

In [9]:
#total purchase value

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#most profitable items

In [ ]:
#purchase count

In [ ]:
#item price

In [10]:
#total purchase value

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80